article{
	padding:10px 10px;
}
/*note*/
div.note {
	display: none;
	width: 440px;
	height: 330px;
	position: absolute;
	top:40px;
	left: 50%;
	margin-left: -220px; 
	background-color: #e8e8e8;  
	z-index: 2;
	color: #383838;
	font: 17px "Microsoft YaHei",Georgia, "Times New Roman", Times, serif;
	box-shadow: 2px 2px 10px #B6B6B6;
	border-radius: 3px;
	opacity: 0.9;
	text-shadow: 1px 1px 1px #c8c8c8;
}
.note p {
	font-weight: bold;
	color: #686868;
	opacity: 1;
	padding:50px 20px 20px 70px;
}
#close {
	cursor: pointer;
	width: 25px;
	position: absolute;
	right:30px;
	top:30px;
}

/*form*/
input,input:focus,input:active{user-select: text;}
.form {
margin-left:auto;
margin-right:auto;
max-width: 500px;
background: #F7F7F7;
padding: 25px 15px 25px 10px;
font: 12px Georgia, "Times New Roman", Times, serif;
color: #888;
text-shadow: 1px 1px 1px #FFF;
border:1px solid #E4E4E4;
}
.form h1 {
font-size: 25px;
padding: 0px 0px 10px 40px;
display: block;
border-bottom:1px solid #E4E4E4;
margin: -10px -15px 30px -10px;;
color: #888;
}
.form h1>span {
display: block;
font-size: 11px;
}
.form label {
display: block;
margin: 0px;
}
.form label>span {
float: left;
width: 20%;
text-align: right;
padding-right: 10px;
margin-top: 10px;
color: #888;
}
.form input[type="text"], .form input[type="email"], .form textarea, .form select {
border: 1px solid #DADADA;
color: #888;
height: 30px;
margin-bottom: 16px;
margin-right: 6px;
margin-top: 2px;
outline: 0 none;
padding: 3px 3px 3px 5px;
width: 70%;
font-size: 12px;
line-height:15px;
box-shadow: inset 0px 1px 4px #ECECEC;
-moz-box-shadow: inset 0px 1px 4px #ECECEC;
-webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.form textarea{
padding: 5px 3px 3px 5px;
}

.form textarea{
height:100px;
}
/*#private0,#private1 {
	display: none;
}*/
.form #submit {
	position: absolute;
	width: 35px;
	margin-left: 40px;
box-shadow: 1px 1px 5px #B6B6B6;
cursor: pointer;
}
.form .buttonPub {
	display: inline-block;
	width: 50px;
font-family: "Microsoft YaHei light";
background: #E27575;
border: none;
padding: 10px 25px 10px 25px;
color: #FFF;
box-shadow: 1px 1px 5px #B6B6B6;
border-radius: 3px;
text-shadow: 1px 1px 1px #9E3F3F;
cursor: pointer;
transition: background 0.3s;
    -webkit-appearance : none ; 
}

.form .buttonPri {
	display: inline-block;
	width: 50px;
font-family: "Microsoft YaHei light";
background: gray;
border: none;
padding: 10px 25px 10px 25px;
color: #FFF;
box-shadow: 1px 1px 5px #B6B6B6;
border-radius: 3px;
text-shadow: 1px 1px 1px #383838;
cursor: pointer;
transition: background 0.3s;
    -webkit-appearance : none ; 
}

/*message*/
.message {
display: none;
margin:0 auto;
max-width: 500px;
background: #F7F7F7;
font: 12px "Microsoft YaHei light",Georgia, "Times New Roman", Times, serif;
color: #888;
text-shadow: 1px 1px 1px #FFF;
}
.text {
	/*display: none;*/
	padding:0px 20px;
	margin:10px 0;	
	height:100px;
	background: #F7F7F7;
	border: none;
	color: #888888;
	box-shadow: 1px 1px 5px #B6B6B6;
	border-radius: 3px;
	position: relative;
	top:0px;
	transition: top 0.5s;
}
.text h2 {
	margin:1px 0px;
	padding:10px 0px 5px 0px;
}
.text p {
	margin:1px 0px;
}